/* normalize */

/* body { margin: 0; } */


body {
  margin: 0;
  /* overflow: visible !important;
  background: -webkit-linear-gradient(45deg, #085078 10%, #85d8ce 90%);
  background: -moz-linear-gradient(45deg, #085078 10%, #85d8ce 90%);
  background: -ms-linear-gradient(45deg, #085078 10%, #85d8ce 90%);
  background: -o-linear-gradient(45deg, #085078 10%, #85d8ce 90%);
  background: linear-gradient(45deg, #085078 10%, #85d8ce 90%); */
  background-color: #FFF;
 }




/* global styles */

video {

  background-color: #111;

  width: 100%;

}

#js-session-number {
  position: relative;
  left:  700px; 
  top: 300px;
}

/* 自分のカメラ画面 */
#js-local-stream { 
  border-radius: 20%;  /*角を丸くする指定*/
  /* width: 240px;
  height: 180px; */
  width: 520px;
  height: 390px; 
  
}
/* 他のユーザーのカメラ画面 */
#js-remote-streams {
  justify-content: space-between;
  /* 横並びにする */
  display: inline-flex;
  /* 等間隔にする */
  /* justify-content: space-evenly; */
  
  /* 余白 */
  /* padding : 10px; */
  /* 枠線 */
  /* border : solid 3px #333 ; */
  width: 240px;
  height: 180px;
  position: relative;
  /* left:  550px;  */
  left:  40px; 
  top: 0px;
}


/* .heading {

  text-align: center;

  margin-bottom: 0;

} */


.heading {
  text-align: center;
  margin-bottom: 0;

  background: #dfefff;
  box-shadow: 0px 0px 0px 5px #dfefff;
  border: dashed 1px #96c2fe;
  padding: 0.2em 0.5em;
  color: #454545;
}


.note {

  text-align: center;

}

.meta {

  text-align: center;

  font-size: .8rem;

  color: gray;

}



.container {

  margin-left: auto;

  margin-right: auto;

  width: 1200px;

}



/* p2p-media styles */

.p2p-media {

  display: flex;

  align-items: center;

  flex-direction: column;

}



.p2p-media .remote-stream {

  width: 50%;

}



.p2p-media .local-stream {

  width: 30%;

}



/* p2p-data styles */

.p2p-data {

  display: grid;

  grid-template-columns: 30% 1fr;

  margin: 0 8px;

}



.p2p-data .messages {

  background-color: #eee;

  min-height: 100px;

  padding: 8px;

  margin-top: 0;


}


/* room */

.room {

  display: grid;

  grid-template-columns: 30% 40% 30%;

  gap: 8px;

  margin: 0 8px;

}



.room .remote-streams {

  background-color: #f6fbff;

}

/* 相手の画面非表示にしておく */
.hidden_remote-stream {
  /* height: 0; */
  /* padding: 0; */
  /* overflow: hidden; */
  opacity: 0;
  /* transition: 0.8s; */
}

/* チャット表示切り替え 非表示にしておく*/
.hidden_chat .hidden_show {
  height: 0;
  padding: 0;
  overflow: hidden;
  opacity: 0;
  transition: 0.8s;
}

/* チャット表示部 */
.room .messages {
  
  /* background-color: #eee; */
  background-color: #FFFFCC;

  /* min-height: 100px; */
  min-height: 150px;

  padding: 8px;

  margin-top: 0;
  /* チャット表示部の位置 */
  position: relative;
  left:  120px; 

  

}

/* チャット入力部 */
.room #js-local-text {
  position: relative;
  left:  120px; 
}

/* チャット送信ボタン */
.room #js-send-trigger {
  position: relative;
  left:  120px; 
}


/* プログラム表非表示 */
table {
  opacity: 0; 
  width: 0;
  height: 0;
}


/* スライド非表示 */
.bxslider {    
  opacity: 0;
  width: 0;
  height: 0;
} 

/*中身を非表示にしておく*/
/* .bxslider .hidden {
  height: 0;
  padding: 0;
  overflow: hidden;
  opacity: 0;
  transition: 0.8s;
} */
/*中身を表示させる*/
/* .bxslider input:checked ~ .hidden {
  height: auto;
  opacity: 1;
  position:  absolute;   
  left:  80px;                
  top: 460px;            
} */

.container2 {
  position: relative;
  left:  540px; 
  top: -300px;
}

.container3 {
  position: relative;
  left:  450px; 
  top: -300px;
}

.toggle-mute {

    /* display: grid;

    grid-template-columns: 30% 40% 30%;

    gap: 8px;

    margin: 0 8px; */

    position: fixed;
    left: 0px;
    top: 0px;

}

/* ストップウォッチ機能移動ボタン */
#stopwatchBTn {
  position: fixed;
  left:  0px; 
  top: 200px;
}

/* チャット機能移動ボタン */
#chatBTn {
  position: fixed;
  left:  0px; 
  top: 230px;
}

/* チャット機能表示ボタン */
/* #button_chat {
  position: fixed;
  top: 230px;
  right:  1427px; 
} */

/* 発表用スタイル変更ボタン */
/* #button_happyou {
  position: fixed;
  top: 600px;
} */

/* デフォルトスタイル変更ボタン */
/* #button_default {
  position: fixed;
  top: 630px;
} */


/* セッション1ボタン */
#button_session1 {
  position: fixed;
  top: 500px;
}

/* セッション2ボタン */
#button_session2 {
  position: fixed;
  top: 530px;
}