/* normalize */

/* body { margin: 0; } */


body {
  margin: 0;
  overflow: visible !important;
  background: -webkit-linear-gradient(45deg, #085078 10%, #85d8ce 90%);
  background: -moz-linear-gradient(45deg, #085078 10%, #85d8ce 90%);
  background: -ms-linear-gradient(45deg, #085078 10%, #85d8ce 90%);
  background: -o-linear-gradient(45deg, #085078 10%, #85d8ce 90%);
  background: linear-gradient(45deg, #085078 10%, #85d8ce 90%);
 }




/* global styles */

video {

  background-color: #111;

  width: 100%;

}

/* 自分のカメラ画面 */
#js-local-stream { 
  border-radius: 20%;  /*角を丸くする指定*/
  width: 240px;
  height: 180px;
  
}
/* 他のユーザーのカメラ画面 */
#js-remote-streams {
  /* 横並びにする */
  display: inline-flex;
  /* 等間隔にする */
  /* justify-content: space-evenly; */
  /* 余白 */
  /* padding : 10px; */
  /* 枠線 */
  /* border : solid 3px #333 ; */
  width: 240px;
  height: 180px;
  position: relative;
  /* left:  550px;  */
  left:  40px; 
  top: 0px;
}


/* .heading {

  text-align: center;

  margin-bottom: 0;

} */


.heading {
  text-align: center;
  margin-bottom: 0;

  background: #dfefff;
  box-shadow: 0px 0px 0px 5px #dfefff;
  border: dashed 1px #96c2fe;
  padding: 0.2em 0.5em;
  color: #454545;
}


.note {

  text-align: center;

}

.meta {

  text-align: center;

  font-size: .8rem;

  color: gray;

}



.container {

  margin-left: auto;

  margin-right: auto;

  width: 1200px;

}



/* p2p-media styles */

.p2p-media {

  display: flex;

  align-items: center;

  flex-direction: column;

}



.p2p-media .remote-stream {

  width: 50%;

}



.p2p-media .local-stream {

  width: 30%;

}



/* p2p-data styles */

.p2p-data {

  display: grid;

  grid-template-columns: 30% 1fr;

  margin: 0 8px;

}



.p2p-data .messages {

  background-color: #eee;

  min-height: 100px;

  padding: 8px;

  margin-top: 0;


}



/* room */

.room {

  display: grid;

  grid-template-columns: 30% 40% 30%;

  gap: 8px;

  margin: 0 8px;

}



.room .remote-streams {

  background-color: #f6fbff;

}


/* チャット表示部 */
.room .messages {

  /* background-color: #eee; */
  background-color: #FFFFCC;

  /* min-height: 100px; */
  min-height: 150px;

  padding: 8px;

  margin-top: 0;
  /* チャット表示部の位置 */
  position: relative;


}

/* チャット入力部 */
.room #js-local-text {
  position: relative;
  
}

/* チャット送信ボタン */
.room #js-send-trigger {
  position: relative;
  
}


/* プログラム表 */
table {
  position:  absolute;        /*要素の配置方法を指定*/
  background-color: #fff;     /*背景色指定*/
  /* padding:  20px;             余白指定 */
  left:  1020px;                /*左からの位置指定 */
  top: 460px;                  /*上からの位置指定*/ 
}

/* スライド表示 */
.bxslider {
  position:  absolute;  
  left:  80px;                /*左からの位置指定 */
  top: 460px;                  /*上からの位置指定*/
}

.container2 {
  position: relative;
  left:  540px; 
  top: -300px;
}

.container3 {
  position: relative;
  left:  450px; 
  top: -300px;
}

.toggle-mute {

    /* display: grid;

    grid-template-columns: 30% 40% 30%;

    gap: 8px;

    margin: 0 8px; */

    position: fixed;
    left: 0px;
    top: 0px;

}

#stopwatchBTn {
  position: fixed;
  left:  0px; 
  top: 80px;
}
